# Node modules
node_modules/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Cache
.cache/
.next/

# User Uploads
uploads/
*.pdf
